/* 1 */


/* 2 */
body {
    /*font-family*/
    background-color: #f1f1f1;
}

/* 3 */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 4 */
.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 5 */


/* 6 */
.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}
/* what else needs to be done? */




/* 7 */
.card {
    flex-basis: 450px;
}

/* 8 */
.pricing {
    display: flex;
    /* Since we are using flex-basis to set the initial width of .card, the direction must be row */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* 9 */
.gallery img {

}

/* 11 */
@media screen and (min-width: 900px) {

}